<link rel="stylesheet" type="text/css" href="/css/products.css">

  <h1 id="index" class="products-title">
    Buy a product and get it TODAY!
  </h1>

<div class="header">
  <p>Hello, {{user.user.name}}</p>
  <form action="/api/session/logout" method="get">
    <button type="submit">Log Out</button>
  </form>
</div>



<div class="gallery">
{{#each products.data.payload}}
  <div class="card">
    <img src={{this.thumbnails}} alt="photo">
    <h3>{{this.title}}</h3>
    <p>{{this.code}}</p>
    <h6>${{this.price}}</h6>
    <p>{{this.description}}</p>
    <form id="addToCartForm" action="/api/carts/{{../user.user.cartId}}/product/{{this._id}}" method="post">
      <div class="units-wrapper">
        <label for="quantity">Units</label>
        <input type="number" name="quantity" id="quantity" min="0"/>
      </div>
      <button type="submit" class="buy">Add to Cart</button>
      </a>
    </form>
  </div>
{{/each}}
</div>

<script>
  document.getElementById("addToCartForm").addEventListener("submit", async (event) => {
    event.preventDefault();

    const form = event.target;
    const quantity = form.querySelector("#quantity").value;

    const token = "{{userToken}}"; // Reemplaza con tu token JWT
    console.log({token})
    const headers = new Headers();
    headers.append("Authorization", `Bearer ${token}`);

    const requestOptions = {
      method: "POST",
      headers: headers,
      body: JSON.stringify({ quantity: quantity })
    };

    try {
      const response = await fetch(form.action, requestOptions);
      // Manejar la respuesta como desees
    } catch (error) {
      console.error("Error:", error);
    }
  });
</script>

<footer class="footer-pagination">
  {{#if products.hasPrevPage}}
    <div class="prev-page">
      <p>Pagina previa {{products.prevPage}}</p>
      <a href="{{products.prevLink}}">
        <button class="centered-button"> 
          Anterior
        </button>
      </a>
    </div>
  {{/if}}

  <div class="current-page">
      <p>Pagina actual {{products.page}}</p>
  </div>


  {{#if products.hasNextPage}}
    <div class="next-page">
      <p>Pagina siguiente {{products.nextPage}}</p>
      <a href="{{products.nextLink}}">
        <button class="centered-button">
          Siguiente
        </button>
      </a>
    </div>
  {{/if}}

</footer>
  

